body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  margin: auto 10px;
}

.btn-outline-success {
  background-color: none;
  color: #fff;
  border-color: #fff;
}

.btn-outline-success.active, .btn-outline-success:active,
.show>.btn-outline-success.dropdown-toggle {
  background-color: rgba(255, 255, 255, .3);
  border-color: rgba(255, 255, 255, .3);
}

.btn-outline-success:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
}

.btn-outline-success.hover, .btn-outline-success:hover,
.show>.btn-outline-success.dropdown-toggle {
  background-color: rgba(255, 255, 255, .3);
  border-color: rgba(255, 255, 255, .3);
}

#dots-container {
  text-align: center;
}

button:focus {outline:0;}

.crnt-bck-color {
  width: 100%;
  text-align: center;
  font-size: .9em;
  margin: 5px auto;
  display: inline-block;
  color: #fff;
}

.landing {
  text-align: center;
}

.dot-desc {
  width: 100%;
  text-align: center;
  font-size: .85em;
  margin: auto;
  display: inline-block;
  color: #fff;
}

.color-dot {
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px 5px;
  cursor: pointer;
}

.color-dot p {
  margin: 0;
  font-weight: strong;
  font-size: 1.5rem;
}

.color-dot:focus {
  box-shadow: inset 0 0 1em white, 0 0 1em white;
}
